<div class="container-fluid">
  <div class="toolbar">
    <i class="fa fa-bars" (click)="toggle()"></i>
    <span>Front-End Assignment</span>
  </div>
</div>
<nav class='animated bounceInDown ' *ngIf="collapse">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <mat-tree-node (click)="selectAsset(node)" (click)="activeNode = node" [ngClass]="{ 'background-highlight': activeNode === node }" *matTreeNodeDef="let node" matTreeNodeToggle>
      {{node.name}}
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <div class="mat-tree-node">
        <button (click)="selectAsset(node)" (click)="activeNode = node" [ngClass]="{ 'background-highlight': activeNode === node }" mat-icon-button matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </div>
      <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
        <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>
  </mat-tree>
</nav>

<div class="asset">
  <div *ngIf="nodeId==8" class="noAsset">
    <h2>No Asset Selected</h2>
    <span>You can select an asset from menu on the left.</span>
  </div>
  <div *ngIf="nodeId <8">
    <h2 *ngIf="nodeId <8">{{nodeName}}</h2>
    <canvas baseChart 
    [datasets]="lineChartData"
    [labels]="lineChartLabels" 
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
    [type]="lineChartType">
    </canvas>
  </div>
</div>
<!-- <div>{{asset$ | async}}</div> -->